@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.SearchBox{
    width:100%;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 14px;
    color:rgba(0,0,0,0.1);
}
.SearchBox input{
    width:100%;
    border: none;
    font-size: 18px;
    color:rgba(0,0,0,0.73);
    padding:10px 5px;
    box-sizing: border-box;
    border-radius: 25px, 25px, 0px, 0px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),0 2px 4px 1px rgba(0,0,0,.18);
}

.SearchBox button {
    /* background-color: red; */
    background-color: #007a87;
    color: #ffb500;
    border: 0px;
    width: 100%;
    height: 100%;
    font-size: 32px;
}

.SearchBox ul{
    list-style-type: none;
    text-align:center;
    margin:0;
    padding:0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),0 2px 4px 1px rgba(0,0,0,.18);
}
.SearchBox ul::before{
    content:"";
}

.SearchBox li{
    padding:10px 5px;
    background-color: white;
    color: black;
    list-style: none;
    font-weight: bold;
}

.SearchBox li:hover{
    background-color: #efebe1;
}

#search {
    text-align: center;
    height: 50px;
}
